.about {
    margin-bottom: 32px;

    & .description {
        margin-bottom: 22px;

        @include tablets {
            margin-bottom: 0;
        }
    }

    @include phones {
        margin-bottom: 24px;
    }
}

.about__textarea {
    border: none;
    resize: none;
    overflow: hidden;

    background-image: url('../../images/textarea-line.png');
    background-repeat: repeat;
    background-position-x: left; 
    background-position-y: 24px;
    background-color: transparent;

    line-height: 60px;
    height: 185px;

    padding-bottom: 7px;
}