.header {
    margin-bottom: 50px;

    @include phones {
        margin-bottom: 35px;
    }
}

.header__logo-wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: -10px;

    @include tablets {
        align-items: center;
    }

    @include phones {
        flex-direction: column;
    }
}

.header__logo {
    width: 154px;
    height: 52px;

    @include phones {
        margin-bottom: 15px;
    }
}

.header__secret {
    width: 252px;
    height: 106px;

    top: -13px;
    position: relative;
    
    @include tablets {
        left: 15px;
    }

    @include phones {
        left: 0;
    }
}

.header__file {
    width: 221px;
    height: 118px;
    overflow: hidden;
    margin: 0 auto;

    right: 50px;
    position: relative;

    @include desktop {
        right: 0;
    }
}