.header {
    margin-bottom: 52px;

    @include phones {
        margin-bottom: 35px;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: -10px;

    @include tablets {
        align-items: center;
    }

    @include phones {
        flex-direction: column;
    }
}

.header__logo {
    width: 148px;
    height: 52px;

    @include phones {
        margin-bottom: 15px;
    }
}

.header__secret {
    width: 238px;
    height: 100px;

    transform: translate(-10px, -14px);
    
    @include tablets {
        left: 15px;
    }

    @include phones {
        left: 0;
    }
}

.header__file {
    width: 206px;
    height: 104px;
    overflow: hidden;
    margin: 0 auto;

    right: 50px;
    position: relative;

    @include desktop {
        right: 0;
    }
}