.slider__button {
    position: relative;
    background: url('../../images/button-slider.png') center center / cover no-repeat;
    
    width: 16px; 
    height: 14px;
}


.slider__level {
    display: flex;
}

.slider__level-item {
    font-size: 13px;
    font-weight: $bold;  
    white-space: nowrap;  

    &:before {
        content: "";
        display: block;  
        background: url('../../images/line-vertical-l.png') center center / cover no-repeat; 
        width: 4px; 
        height: 22px;
        margin-bottom: 10px;
    }

    &:nth-of-type(1) {
        margin-right: 11.3%;
    }
    &:nth-of-type(2) {
        margin-right: 7.8%;
    }
    &:nth-of-type(3) {
        margin-right: 11%;
    }
    

    &:nth-of-type(2),
    &:nth-of-type(3) {
        &:before {
            background: url('../../images/line-vertical-s.png') center center / cover no-repeat; 
            width: 4px; 
            height: 9px;
            margin-bottom: 17px;
        }
    }

    &:last-of-type {
        margin-right: 0;

        &:before {
            position: relative;
            left: 100%;
        }
    }

    &:nth-of-type(3) {
        white-space: normal;
    }     
}
