include ./mixins/entry

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Анкета | Безместин Игорь
        link(rel="stylesheet", href="main.min.css")
    body
        .wrapper

            +header

            main.maincontent

                -
                 var contactsArray = [
                    {
                        description: "Полное ФИО",
                        value: "Безместин Игорь Юрьевич"
                    },
                    {
                        description: "Год рождения",
                        value: "1988"
                    },                    
                    {
                        description: "Место жительства",
                        value: "г. Арзамас, Россия"
                    },
                    {
                        description: "Скайп",
                        value: "igor-rock_1"
                    },
                    {
                        description: "Почта",
                        value: "igorbezmestin@gmail.com"
                    }
                 ]
                +contacts(contactsArray)
                
                -
                 var skillsArray = [
                    {
                        description: "БЭМ/OOCSS", checked: true
                    },
                    {
                        description: "Pug (Jade)", checked: true
                    },
                    {
                        description: "Stylus/LESS/SASS", checked: true
                    },
                    {
                        description: "Работаю с SVG", checked: true
                    },
                    {
                        description: "Верстаю семантично", checked: true
                    },
                    {
                        description: "Accessibility (A11Y)", checked: true
                    },
                    {
                        description: "ES2015/ES2016", checked: true
                    },
                    {
                        description: "Gulp/GRUNT", checked: true
                    },
                    {
                        description: "Webpack", checked: true
                    },
                    {
                        description: "Дружу с WebGL", checked: false
                    },
                    {
                        description: "jQuery", checked: true
                    },
                    {
                        description: "Знаю/изучаю Angular", checked: false
                    },
                    {
                        description: "Знаю/изучаю React", checked: false
                    },
                    {
                        description: "Знаю/изучаю Node.js", checked: false
                    },
                    {
                        description: "Использую Git", checked: true
                    },
                    {
                        description: "С глазомером всё ок", checked: true
                    },
                    {
                        description: "Читаю <a class='skills__link' href='//blog.csssr.ru'>blog.csssr.ru</a>", checked: false
                    },
                    {
                        description: "Я ленивый(-ая)", checked: false
                    },
                    {
                        description: "У меня хороший английский", checked: false
                    },
                 ]
                +skills(skillsArray)

                -
                 var jsLevelArray = [
                    'Не владею', 
                    'Использую готовые решения', 
                    'Использую готовые решения <br/> и умею их переделывать',
                    'Пишу сложный JS с нуля'
                 ]
                +jslevel(jsLevelArray)

                - var textAbout = 'Ну-ууу-уу...\nЭэээ...'                
                +about(textAbout)                                
                
                -
                 var futureArray = [
                    {text: 'Верстать'}, 
                    {text: 'Прокачиваться в JS', checked: true}, 
                    {text: 'Менеджерство'}, 
                    {text: 'Другое'}
                 ]
                +future(futureArray)                            

            +footer('12.07.2019')
        
        script(src="main.min.js")
