//прибиваем футер

html,
body {
  height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

// остальные настройки

* {
    box-sizing: border-box;
}

body {
    font-family: 'pt-sans', Arial, sans-serif;
    line-height: 1.42;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color;
    background-color: $bg-color;

    @include tablets {
        font-size: 14px;
        background-color: transparent;        
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

button[type="button"] {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}


img {
    display: block;
    width: 100%;
    height: 100%;
}

input,
textarea {
    display: inline-block;
    width: 100%;
    
    font-family: "Courier New", "Courier", serif;
    font-weight: 100;
    font-size: 30px;
    //line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    color: $input-color;  
    
    @include desktop {
        font-size: 24px;
    }

    @include tablets {
        font-size: 18px;
    }
}

.wrapper {
      
    position: relative;
    overflow: hidden;

    min-height: 100%;
    max-width: 1000px;

    background: url('../../images/bg.jpg') center center / cover no-repeat;
    margin: 0 auto;
    padding: 72px 54px 97px 112px;

    @include desktop {
        padding-left: 90px;
        padding-right: 90px;
    }

    @include tablets {
        padding: 20px 30px;
    }
    
    @include phones {
        padding: 10px;
    }
    // padding: 7.1% 5.1% 7% 11%;
}

.maincontent {
    padding-right: 64px;
    
    margin-bottom: 76px;

    @include desktop {
        padding-right: 0;
        margin-bottom: 30px;
    }
}

.container {
    width: 100%;
}

.hidden {
    display: none;
}

.title {
    font-size: 24px;
    line-height: 45px;
    
    @include tablets {
        font-size: 20px;
        line-height: 40px;
    }

    @include phones {
        line-height: 26px;       
    }
}

.description {
    margin-bottom: 35px;
    
    @include tablets {
        margin-bottom: 25px;        
    }

    @include phones {
        text-align: justify;  
        margin-bottom: 15px;     
    }
}
