//Шрифт
$regular: 400;
$bold: 700;

//Размер шрифта
$basefontsize: 15px;
$basefontsize-phonesmall: 13px;

//Цвета
$bg-color: #797979;
$text-color: #2f1b15;
$input-color: #231f20;
$checkbox-color: #000;
$description-color: #3d3d3d;

//Размеры окна
$bp-desktop: 1200px;
$bp-tablets: 720px;
$bp-tablets-small: 480px;
$bp-phones: 360px;
$bp-phones-small: 320px;