//Шрифт
$regular: 400;
$bold: 700;

//Размер шрифта
$basefontsize: 15px;
$basefontsize-phonesmall: 13px;

//Цвета
$bg-color: #797979;
$text-color: #2f1b15;
$input-color: #231f20;
$checkbox-color: #000;
$description-color: #3d3d3d;
$link-color: #1f5f97;
$black: #000;

//Размеры окна
$bp-desktop: 990px;
$bp-tablets: 720px;
$bp-phones: 480px;
$bp-phones-small: 320px;

//Задержка
$delay: .3s;