mixin footer
    footer.footer
        .footer__container
            p.footer__text Дата заполнения
            label.footer__label
                input(type="text" value="01.08.2019").footer__input