mixin footer(date)
    footer.footer
        .footer__container
            p.footer__text Дата заполнения
            label.footer__label
                input(type="text" value=`${date}`).footer__input