mixin header
    header.header
        .header__container
            .header__wrapper
                .header__logo
                    img(src="../images/logo.png" alt="CSSSR").header__icon
                .header__secret
                    img(src="../images/secret.png" alt="Секретно! Заполнено собственноручно").header__icon
            .header__file
                h1.hidden ДЕЛО
                img(src="../images/delo.png" alt="ДЕЛО").header__icon